{
  "presets": [
    "@worona/next/babel",
    "stage-0"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "lodash",
      {
        "id": ["lodash", "recompose"]
      }
    ],
    [
      "resolver",
      {
        "resolveDirs": [
          "packages/wp-org-connection-app-extension-worona/node_modules",
          "packages/saturn-app-theme-worona/node_modules"
         ]
      }
    ]
  ]
}
